/* @@author A0130720Y */

.list-cell, .list-cell:empty, .list-cell:even, .list-cell:odd {
	-fx-background-color: white;
}

.list-cell:selected .label{
	-fx-text-fill: black;
}

/* TaskPane styles */

#id {
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-padding: 18, 30, 0, 25;
}

#start, #end, #startByOn {
	-fx-font-weight: bold;
}

#taskName {
	-fx-font-weight: bold;
	-fx-font-size: 15px;
}

#startValue, #endValue {
	-fx-font-size: 13px;
}

#tagsValue {
	-fx-font-style: italic;
	-fx-font-size: 13px;
}

#isOverdue {
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font-size: 13px;
}

