<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

  <!-- Appender to System Out  -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36} %logger{10} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Loggers -->
  <logger name="info_logger" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="INFO">
  </root>

</configuration>